useDynLib(Reot)
exportPattern("^[[:alpha:]]+")
export(EotCycle)
export(anomalize)
export(covWeight)
export(denoise)
export(deseason)
export(eot)
export(getWeights)
export(deg2rad)
export(geoWeight)
export(nEot4Var)
export(plotEot)
export(plotLocations)
export(lagalize)
export(cutStack)